body{
  margin:0;
  font-family:Arial,Helvetica,sans-serif;
  background:#f6f7fb;
}

.app{
  padding:20px;
}

.navbar{
  display:flex;
  gap:20px;
  background:white;
  padding:15px;
  border-radius:12px;
  margin-bottom:20px;
}

.navbar button{
  border:none;
  background:#01F0D0;
  padding:10px 18px;
  border-radius:20px;
  cursor:pointer;
}

.content{
  display:grid;
  grid-template-columns:300px 1fr 350px;
  gap:20px;
}

.left,
.center,
.right{
  background:white;
  border-radius:15px;
  min-height:600px;
  padding:20px;
}
